a[href*="google.com"] {
    color: green;
}


a[href="https://linkgroup.rs"] {
    color: red;
}


#second-div p:nth-child(2n+4) {
    color: red;
}
#second-div p:nth-child(2n+5) {
    color: blue;
}


p:nth-of-type(2)::after,
p:nth-of-type(3)::after {
    content: " – NEW";
    color: yellow;
}


p:nth-of-type(10):hover {
    font-style: italic;
}



